@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

body {
    font-family: 'Poppins', sans-serif;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;

    --color-primary-50: #f4f6fa;
    --color-primary-100: #e2e8f0;
    --color-primary-200: #cbd5e1;
    --color-primary-300: #94a3b8;
    --color-primary-400: #3b5a80;
    --color-primary-500: #1a365d;
    --color-primary-600: #142c4c;
    --color-primary-700: #0f223d;
    --color-primary-800: #0a172a;
    --color-primary-900: #070f1e;
    --color-primary-950: #040913;
    --color-accent: #c5a059;
    --color-accent-hover: #b38e46;
}
html {
    scroll-behavior: smooth;
}